# Git
.git
.gitignore
.github

# Environment
.env
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Tests
tests/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Docker
Dockerfile
.dockerignore

# Kubernetes
kubernetes/

# Documentation
README.md
CHANGELOG.md
LICENSE

# Other
.DS_Store